<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.ac.kongju.witlab.uvit">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/img_uvit"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name="android.support.multidex.MultiDexApplication"
        android:theme="@style/AppTheme"
        android:largeHeap="true">

        <activity
            android:name=".activity.IntroActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".activity.Setting_AboutActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".activity.Setting_AlarmActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".activity.Setting_LEDActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".activity.Setting_ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

    </application>

</manifest>